{% extends "datastorage/base.html" %}
{% block title %}Observations{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Feature 1
                </th>
                <th>
                    Feature 2
                </th>
                <th>
                    Category
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        {% for observation in observations %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ observation.feature0 }}</td>
                <td>{{ observation.feature1 }}</td>
                <td>{{ observation.category }}</td>
                <td class="delete-button-cell">
                    <form method="post" action="{% url 'datastorage:delete' observation.id %}" class="delete-form">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="delete-button">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}